
{% extends 'shop/base.html' %}

{% block title %}Password Reset{% endblock title %}

{% load static %}

{% block home %}
 <div class="container shadow " style="height: 75vh">
<div class="mt-5 d-flex justify-content-center" >
        <h1 class="mt-5" style="color: crimson;font-weight: bolder">Password Reset Successfully !!! </h1>
</div >
  <div class="mt-5 d-flex justify-content-center">
 <a href="{% url 'loginname' %}" class="btn btn-primary" style="background-color:
 lawngreen;border-radius: 100px;border: none;">Log In Now</a></div>
</div>
{% endblock home %}
