{% extends 'shop/base.html' %}

{% block title %}Password Reset{% endblock title %}

{% load static %}

{% block home %}
 <div class="container shadow " style="height: 75vh">
    <br>
<div class="mt-5 d-flex justify-content-center" >
        <h4 class="mt-5" style="color: crimson;font-weight: bold">An Email has been sent with instructions to reset your password !!
        <a href="https://mail.google.com/mail" target="_blank">Check Your Email</a>
        </h4>
</div>
  </div>

{% endblock home %}
